@page
@model project.Pages.GalleryModel
@{
    ViewData["Title"] = "Gallery";
}

<h1>Gallery</h1>
<br />
<p><center><iframe width="560" height="315" src="https://www.youtube.com/embed/JElZMRoJUaM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center></p>
<br />
<p><center><img src="https://media.sweetwater.com/api/i/q-82__ha-d07a820b4c4fec44__hmac-a91c3ba4225dfd44b3f508a3afc34073ddf3894d/images/items/750/EXX72531-large.jpg" width="527" height="400" alt="HTML Dog"></center></p>
<br />
<p><center><img src="https://muzikercdn.com/uploads/product_gallery/2990/299050/thumb_d_gallery_base_cf94f12c.jpg" width="527" height="400" alt="HTML Dog"></center></p>



