@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Pearl EX drumset</h1>
    <p><center><img src="https://media.sweetwater.com/api/i/q-82__ha-d07a820b4c4fec44__hmac-a91c3ba4225dfd44b3f508a3afc34073ddf3894d/images/items/750/EXX72531-large.jpg" width="300" height="230" alt="HTML Dog"></center></p>
    <h4>Price: 200.000 HUF</h4>
</div>
<body>
    <form method="post">
        <fieldset>
            <legend>Subscribe</legend>
            <label for="mail">Your e-mail:</label>
            <input type="text" name="mail" />
            <button>Submit</button>
        </fieldset>
    </form>
</body>

