@page
@model project.Pages.Tech_SpecsModel
@{
    ViewData["Title"] = "Tech_Specs";
}

<h1>Tech Specs</h1>
<br />
<table>
    <tr>
        <td>Finish: </td>
        <td>Jet Black</td>
    </tr>
    <tr>
        <td>Configuration: </td>
        <td>Drum set with hardware</td>
    </tr>
    <tr>
        <td>Number of Drums: </td>
        <td>5</td>
    </tr>
    <tr>
        <td>Snare (Depth x Diameter): </td>
        <td>5.5" x 14"</td>
    </tr>
    <tr>
        <td>Mounted Toms (Depth x Diameter): </td>
        <td>8" x 12", 9" x 13"</td>
    </tr>
    <tr>
        <td>Floor Toms (Depth x Diameter): </td>
        <td>16" x 16"</td>
    </tr>
    <tr>
        <td>Bass Drums (Depth x Diameter): </td>
        <td>18" x 22"</td>
    </tr>
    <tr>
        <td>Shell Material: </td>
        <td>Mahogany/Poplar</td>
    </tr>
    <tr>
        <td>Included Stands: </td>
        <td>C-830 Cymbal Stand, BC-830 Boom Stand, H-830 Hi-Hat Stand, S-830 Snare Stand, TH-70I Tom Mount</td>
    </tr>
    <tr>
        <td>Included Drum Pedal: </td>
        <td>P-930 Demonator Pedal</td>
    </tr>
    <tr>
        <td>Manufacturer Part Number: </td>
        <td>EXX725/C31</td>
    </tr>
</table>

